{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object is not null %}
        <img src="{{object.coverImageUrl}}" width="200px" height="auto">
    {% endif %}
{% endblock %}