{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <span>
    {% if object.type == constant('App\\Entity\\WorkSpace::DESK') %}
        {% if object.deskType == constant('App\\Entity\\WorkSpace::HOURLY_HOT_DESK') %}
            hourly
        {% elseif object.deskType == constant('App\\Entity\\WorkSpace::DAILY_HOT_DESK') %}
            daily
        {% else %}
            monthly
        {% endif %}
    {% elseif object.type == constant('App\\Entity\\WorkSpace::MEETING_ROOM') %}
        {% if object.deskType == constant('App\\Entity\\WorkSpace::HOURLY_MEETING_ROOM') %}
            hourly
        {% else %}
            daily
        {% endif %}
    {% else %}
        monthly
    {% endif %}
    </span>
{% endblock %}