{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if field_description.options.data is not null %}
        <table class="table">
        {% for facility in field_description.options.data %}
                <tr style="border-top: 2px solid #090;">
                    <td>Name</td>
                    <td>{{ facility.name }}</td>
                </tr>
                <tr>
                    <td>WebIcon</td>
                    <td>
                        <img src="{{facility.webIcon}}" width="20px" height="auto">
                    </td>
                </tr>
                <tr>
                    <td>AppIcon</td>
                    <td>
                        <img src="{{facility.appIcon}}" width="20px" height="auto">
                    </td>
                </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}