{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if field_description.options.data is not null %}
        {% for image in field_description.options.data %}
            <img src="{{image.url}}" width="200px" height="auto">
        {% endfor %}
    {% endif %}
{% endblock %}