{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object is not null %}
        {% if object.location is not null %}
            <a href="{{ path('admin_app_location_edit', {id: object.location.id}) }}" target="_blank">{{ object.location.name }}</a>
        {% endif %}
    {% endif %}
{% endblock %}