{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if field_description.options.data is not null %}
        <table class="table">
        <tr>
            <td>Name</td>
            <td>{{ field_description.options.data.name }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ field_description.options.data.address }}</td>
        </tr>
        <tr>
            <td>Latitude</td>
            <td>{{ field_description.options.data.latitude }}</td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td>{{ field_description.options.data.longitude }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ field_description.options.data.description }}</td>
        </tr>
        </table>
    {% endif %}
{% endblock %}