{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if field_description.options.data is not null %}
        {% for station in field_description.options.data %}
            <span>{{ station.name|join(',') }} </span>{% if loop.last == false %},{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}