{% extends "emails/base.html.twig" %}

{% block body %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="padding: 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <h1 style="font-size: 12px; font-weight: 600; text-align: center; margin: 0 0 30px 0;">Account deleted</h1>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Hello {{ user.getFullname() }},</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Your account with kikmoov has been deleted.</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Feel free to browse through 1000’s of workspaces and list your workspace on kikmoov.com!</p>
                <p style="font-size: 11px; margin: 0;">Kikmoov Team</p>
            </td>
        </tr>
    </table>
{% endblock %}