<a href="{{ admin.generateObjectUrl('download', object) }}" class="btn btn-sm btn-default" title="{{ 'action_download'|trans({}, 'SonataAdminBundle') }}">
    <i class="fa fa-download" aria-hidden="true"></i>
    {{ 'Download'|trans({}, 'SonataAdminBundle') }}
</a>
