{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.workspace is not null %}
        {% if object.workspace.location is not null %}
            <a href="{{ path('admin_app_location_edit', {id: object.workspace.location.id}) }}" target="_blank">{{ object.workspace.location.name }}</a>
        {% endif %}
    {% endif %}
{% endblock %}