{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.area is not empty and object.area is iterable %}
        {% for oneArea in object.area %}
            <span>{{ oneArea }}</span>{% if loop.last == false %},{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}