{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% for user in object.users %}
        <p>
            <a target="_blank" href="{{ path('admin_app_user_edit', { id : user.id }) }}">
                {{ user.fullname }}
            </a>
        </p>
    {% endfor %}
{% endblock %}