{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    {{ parent() }}

<script>
    $("input[id$=videoLink]").on("change", (event) => {
        if (event.target.value.length) {
            $('input[id$=isVisited]').iCheck('check');
        }
    });
</script>
{% endblock %}