{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.nearby is not empty and object.nearby is iterable %}
        {% for station in object.nearby %}
            <span>{{ station.name|join(',') }} </span>{% if loop.last == false %},{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}