{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.workSpaceTypes is not empty and object.workSpaceTypes is iterable %}
        {% for workSpaceType in object.workSpaceTypes %}
            <span>{{ workSpaceType }}</span>{% if loop.last == false %},{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}