{% block calendar1_event_widget %}
    {% spaceless %}
        {% if form.vars.value is not empty and form.vars.value.id is not null%}
        <style>
            td.split {
                width: 700px;
                word-wrap: break-word;
                display: inline-block;
            }
            table {
                border: 2px solid darkseagreen;
            }
        </style>
        <table class="table table-responsive-sm table-hover">
            <tbody>
            <tr>
                <th scope="row">Event Id</th>
                <td class="split">{{ form.vars.value.eventId }}</td>
            </tr>
            <tr>
                <th scope="row">Event Summary</th>
                <td>{{ form.vars.value.summary }}</td>
            </tr>
            <tr>
                <th scope="row">Event HTML Link</th>
                <td class="split">{{ form.vars.value.htmlLink }}</td>
            </tr>
            <tr>
                <th scope="row">Event Start Time</th>
                <td>{{ form.vars.value.start|date("F jS \\a\\t g:ia") }}</td>
            </tr>
            <tr>
                <th scope="row">Event End Time</th>
                <td>{{ form.vars.value.end|date("F jS \\a\\t g:ia") }}</td>
            </tr>
            </tbody>
        </table>
        {% else %}
            ddd
        {% endif %}
    {% endspaceless %}
{% endblock %}