{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <span class="label label-{% if object.status == "sent" %}success{% else %}danger{% endif %}">{{ object.status }}</span>
{% endblock %}