{% extends "emails/base.html.twig" %}

{% block body %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="padding: 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <h1 style="font-size: 12px; font-weight: 600; text-align: center; margin: 0 0 30px 0;">A gentle reminder for you</h1>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Hello {{ buyer.getFullname() }},</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">A representative from {{ location.name }} will be waiting for you upon your arrival</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Thank you!</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px;">
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="400" class="mobile-w100-table">
                    <tr>
                        <td width="260" valign="top" class="mobile-w100">
                            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td style="padding: 0 0 20px 0; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                                        <p style="font-size: 11px; font-weight: 600; color: #000; text-align: left; margin: 0 0 20px 0;" align="left">Viewing details:</p>
                                        <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ location.name }}</p>
                                        <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ location.address }}, {{ location.town }}, {{ location.postcode }}</p>
                                        <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ workspace.getTypeLabel() }} | £{{ workspace.price | number_format(2, '.', ',') }} per month {{ workspace.getTypeQuantityDesks() }}</p>
                                        <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ viewing.startTime | date('l, jS F') }}</p>
                                        <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ viewing.startTime | date('ha') }}</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="100" valign="top" class="mobile-w100">
                            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td style="padding: 0 0 20px 0; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                                        <p style="font-size: 11px; font-weight: 600; color: #000; text-align: left; margin: 0 0 20px 0;" align="left">Personnel details:</p>
                                        <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ seller.getFullname() }}</p>
                                        <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ seller.phone }}</p>
                                        <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000; word-break: break-all;">{{ seller.email }}</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px;">
                <!-- Button : BEGIN -->
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                    <tr>
                        <td class="button-td button-td-primary" style="border-radius: 7px; background: #f86649;">
                            <a class="button-a button-a-primary" href="{{ link }}" style="background: #f86649; border: 1px solid #f86649; font-family: 'Montserrat', Verdana, sans-serif; font-size: 12px; line-height: 12px; text-decoration: none; padding: 5px 10px; color: #ffffff; display: block; border-radius: 7px;">View the office on Kikmoov</a>
                        </td>
                    </tr>
                </table>
                <!-- Button : END -->
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <p style="font-size: 11px; margin: 0 0 20px 0;">We would love to hear about your viewing or be of assistance with the booking process. We offer help and advice on legals and paperwork.</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Have a great viewing!</p>
                <p style="font-size: 11px; margin: 0;">Kikmoov Team</p>
            </td>
        </tr>
    </table>
{% endblock %}