{% extends "emails/base.html.twig" %}

{% block body %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="padding: 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <h1 style="font-size: 12px; font-weight: 600; text-align: center; margin: 0 0 30px 0;">Well done! You have a viewing request. </h1>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Hello {{ seller.getFullname() }},</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">A potential tenant has requested a viewing for your workspace. Please accept or decline this request. If you would like to reschedule the viewing date or time, please do so by replying to the email</p>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="260">
                    <tr>
                        <td style="padding: 0 0 20px 0; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                            <p style="font-size: 11px; font-weight: 600; color: #000; text-align: center; margin: 0 0 20px 0;" align="center">Viewing request details:</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ location.name }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ workspace.getTypeLabel() }} | £{{ workspace.price | number_format(2, '.', ',') }} per month {{ workspace.getTypeQuantityDesks() }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ viewing.startTime | date('l, jS F') }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ viewing.startTime | date('ha') }}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px;">
                <!-- Button : BEGIN -->
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                    <tr>
                        <td class="button-td button-td-primary" style="border-radius: 7px; background: #55c183; padding: 0 5px;">
                            <a class="button-a button-a-primary" href="{{ linkNotification }}" style="background: #55c183; border: 1px solid #55c183; font-family: 'Montserrat', Verdana, sans-serif; font-size: 12px; line-height: 12px; text-decoration: none; padding: 5px 10px; color: #ffffff; display: block; border-radius: 7px;">Accept</a>
                        </td>
                        <td width="10"></td>
                        <td class="button-td button-td-primary" style="border-radius: 7px; background: #d0021b; padding: 0 5px;">
                            <a class="button-a button-a-primary" href="{{ linkNotification }}" style="background: #d0021b; border: 1px solid #d0021b; font-family: 'Montserrat', Verdana, sans-serif; font-size: 12px; line-height: 12px; text-decoration: none; padding: 5px 10px; color: #ffffff; display: block; border-radius: 7px;">Decline</a>
                        </td>
                    </tr>
                </table>
                <!-- Button : END -->
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px;">
                <!-- Button : BEGIN -->
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                    <tr>
                        <td class="button-td button-td-primary" style="border-radius: 7px; background: #f86649;">
                            <a class="button-a button-a-primary" href="{{ link }}" style="background: #f86649; border: 1px solid #f86649; font-family: 'Montserrat', Verdana, sans-serif; font-size: 12px; line-height: 12px; text-decoration: none; padding: 5px 10px; color: #ffffff; display: block; border-radius: 7px;">View the office on Kikmoov</a>
                        </td>
                    </tr>
                </table>
                <!-- Button : END -->
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <p style="font-size: 11px; margin: 0 0 20px 0;">If you have any questions, please don’t hesitate to get in touch. Contact us by replying to this email or giving us a call on +44 (0) 20 7283 8876.</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Thank you!</p>
                <p style="font-size: 11px; margin: 0;">Kikmoov Team</p>
            </td>
        </tr>
    </table>
{% endblock %}