{% extends "emails/base.html.twig" %}

{% block body %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="padding: 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <h1 style="font-size: 12px; font-weight: 600; text-align: center; margin: 0 0 30px 0;">Thank you for requesting a viewing! We’re working on it and will get back to you ASAP</h1>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Hello {{ buyer.getFullname() }},</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Your viewing with {{ location.name }} has been requested and is in the process of being confirmed.</p>
                <p style="font-size: 11px; margin: 0;">Our dedicated team is working hard to confirm this viewing and will be in touch with you as soon as possible.</p>
                <p style="font-size: 11px; margin: 0;">Thank you!</p>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="260">
                    <tr>
                        <td style="padding: 0 0 20px 0; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                            <p style="font-size: 11px; font-weight: 600; color: #000; text-align: center; margin: 0 0 20px 0;" align="center">Viewing request details:</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ location.name }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ workspace.getTypeLabel() }} | £{{ workspace.price | number_format(2, '.', ',') }} per month {{ workspace.getTypeQuantityDesks() }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ viewing.startTime | date('l, jS F') }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ viewing.startTime | date('ha') }}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px;">
                <!-- Button : BEGIN -->
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                    <tr>
                        <td class="button-td button-td-primary" style="border-radius: 7px; background: #f86649;">
                            <a class="button-a button-a-primary" href="{{ link }}" style="background: #f86649; border: 1px solid #f86649; font-family: 'Montserrat', Verdana, sans-serif; font-size: 12px; line-height: 12px; text-decoration: none; padding: 5px 10px; color: #ffffff; display: block; border-radius: 7px;">View the office on Kikmoov</a>
                        </td>
                    </tr>
                </table>
                <!-- Button : END -->
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <p style="font-size: 11px; margin: 0 0 20px 0;">If you have any questions, please don’t hesitate to get in touch. Contact us by replying to this email or giving us a call on +44 (0) 20 7283 8876.</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Thank you!</p>
                <p style="font-size: 11px; margin: 0;">Kikmoov Team</p>
            </td>
        </tr>
    </table>
{% endblock %}