<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <title>Kikmoov</title>

    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <!--<![endif]-->

    <!-- CSS Reset : BEGIN -->
    <style>
        /* What it does: Remove spaces around the email design added by some email clients. */
        /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }

        /* What it does: Stops email clients resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        /* What it does: Centers email on Android 4.4 */
        div[style*="margin: 16px 0"] {
            margin: 0 !important;
        }

        /* What it does: Stops Outlook from adding extra spacing to tables. */
        table,
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }

        /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }
        table table table {
            table-layout: auto;
        }

        /* What it does: Uses a better rendering method when resizing images in IE. */
        img {
            -ms-interpolation-mode:bicubic;
        }

        /* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
        a {
            text-decoration: none;
        }

        /* What it does: A work-around for email clients meddling in triggered links. */
        *[x-apple-data-detectors],  /* iOS */
        .unstyle-auto-detected-links *,
        .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
        .a6S {
            display: none !important;
            opacity: 0.01 !important;
        }

        /* What it does: Prevents Gmail from changing the text color in conversation threads. */
        .im {
            color: inherit !important;
        }

        /* If the above doesn't work, add a .g-img class to any image in question. */
        img.g-img + div {
            display: none !important;
        }

        /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
        /* Create one of these media queries for each additional viewport size you'd like to fix */

        /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
            u ~ div .email-container {
                min-width: 320px !important;
            }
        }
        /* iPhone 6, 6S, 7, 8, and X */
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
            u ~ div .email-container {
                min-width: 375px !important;
            }
        }
        /* iPhone 6+, 7+, and 8+ */
        @media only screen and (min-device-width: 414px) {
            u ~ div .email-container {
                min-width: 414px !important;
            }
        }

    </style>
    <!-- CSS Reset : END -->
    <!-- Reset list spacing because Outlook ignores much of our inline CSS. -->
    <!--[if mso]>
    <style type="text/css">
        ul,
        ol {
            margin: 0 !important;
        }
        li {
            margin-left: 30px !important;
        }
        li.list-item-first {
            margin-top: 0 !important;
        }
        li.list-item-last {
            margin-bottom: 10px !important;
        }
    </style>
    <![endif]-->

    <!-- What it does: Makes background images in 72ppi Outlook render at correct size. -->
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

</head>
<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f5f6f7;">
<center style="width: 100%; background-color: #f5f6f7;">
    <!--[if mso | IE]>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #f5f6f7;">
        <tr>
            <td>
    <![endif]-->
    <div style="max-width: 500px; margin: 0 auto;" class="email-container">
        <!--[if mso]>
        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="500">
            <tr>
                <td>
        <![endif]-->

        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: 0 auto;">
            <tr>
                <td style="padding: 20px 0; text-align: center">
                    <a href="{{ projectUrl() }}">
                        <img src="https://imageshack.com/a/img923/3204/0UYpWz.png" width="71" height="70" border="0">
                    </a>
                </td>
            </tr>
            <tr>
                <td style="background-color: #ffffff; border-radius: 7px">
                    {% block body %}{% endblock %}
                </td>
            </tr>
            <tr>
                <td aria-hidden="true" height="30" style="font-size: 0px; line-height: 0px;">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="100%" valign="top" width="100%" style="border-radius: 7px; background-color: #ffffff; font-family: 'Montserrat', Verdana, sans-serif; color: #000; border-bottom: 5px solid #f86649">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                        <tbody>
                        <tr>
                            <td valign="top" width="50%" style="padding: 30px 0;">
                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 11px; text-align: center;">
                                    <tbody>
                                    <tr>
                                        <td style="text-align: center; padding: 0 5px 10px 5px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                                            <a style="display: block; color: #2f374b; text-decoration: none;" href="mailto:info@kikmoov.com">info@kikmoov.com</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; padding: 0 5px 10px 5px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                                            <a style="display: block; color: #2f374b;text-decoration: none;" href="tel:+44 (0) 20 7283 8879">+44 (0) 20 7283 8879</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                                            <a style="display: block; color: #2f374b; text-decoration: none;" href="{{ frontUrl(constant('App\\Notifications\\FrontUrls::FAQ')) }}">FAQ</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="top" width="50%" style="padding: 30px 0;">
                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 11px; text-align: center;">
                                    <tbody>
                                    <tr>
                                        <td style="text-align: center; padding: 0 5px 10px 5px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                                            <a style="display: block; color: #2f374b; text-decoration: none;" href="{{ frontUrl(constant('App\\Notifications\\FrontUrls::HOW_IT_WORKS')) }}">How Kikmoov works</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; padding: 0 5px 10px 5px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                                            <a style="display: block; color: #2f374b; text-decoration: none;" href="{{ frontUrl(constant('App\\Notifications\\FrontUrls::HELP_GUIDES')) }}">Help guides</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                                            <a style="display: block; color: #2f374b; text-decoration: none;" href="{{ frontUrl(constant('App\\Notifications\\FrontUrls::CO_COMMUNITY')) }}">Co-community</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="320" align="center">
                        <tbody>
                        <tr>
                            <td valign="middle" width="50%">
                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 11px; text-align: center;">
                                    <tbody>
                                    <tr>
                                        <td style="text-align: center; padding: 0 20px;">
                                            <img src="https://imageshack.com/a/img923/3026/5jrnYR.png" style="vertical-align: top; width: 100%;" alt="">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="middle" width="50%">
                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 11px; text-align: left;">
                                    <tbody>
                                    <tr>
                                        <td style="text-align: left;">
                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 11px; text-align: center; margin: 0 auto;">
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="60" style="font-size: 11px; text-align: center;">
                                                            <tr>
                                                                <td style="text-align: center;" width="50">
                                                                    <a href="{{apple_store_app_url}}" style="display: inline-block; vertical-align: middle; padding: 0 5px; margin: 0 5px;"><img src="https://imageshack.com/a/img922/6134/5FX3c4.png" style="vertical-align: top;" alt=""></a>
                                                                </td>
                                                                <td style="text-align: center;" width="50">
                                                                    <a href="{{google_play_app_url}}" style="display: inline-block; vertical-align: middle; padding: 0 5px; margin: 0 5px;"><img src="https://imageshack.com/a/img923/8572/tGwSVD.png" style="vertical-align: top;" alt=""></a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 10px 0 0 0; text-align: center;">
                                                        <p style="font-size: 11px; margin: 0 0 10px 0; font-family: 'Montserrat', Verdana, sans-serif;">Kikmoov app Coming soon.</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: 0 auto;">
            <tr>
                <td style="padding: 20px; font-family: 'Montserrat', Verdana, sans-serif; text-align: center; color: #000;">
                    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="300" style="margin: 0 auto;">
                        <tr>
                            <td>
                                <a href="https://twitter.com/kikmoov/" style="display: inline-block; vertical-align: middle; margin: 0 10px;"><img src="https://imageshack.com/a/img923/2535/Z2IZhO.png" style="vertical-align: top;" alt=""></a>
                            </td>
                            <td>
                                <a href="https://www.instagram.com/kikmoov/" style="display: inline-block; vertical-align: middle; margin: 0 10px;"><img src="https://imageshack.com/a/img922/3794/ueC0YA.png" style="vertical-align: top;" alt=""></a>
                            </td>
                            <td>
                                <a href="https://www.facebook.com/kikmoov/" style="display: inline-block; vertical-align: middle; margin: 0 10px;"><img src="https://imageshack.com/a/img921/4093/4B6agu.png" style="vertical-align: top;" alt=""></a>
                            </td>
                            <td>
                                <a href="https://www.linkedin.com/company/kikmoov/about/" style="display: inline-block; vertical-align: middle; margin: 0 10px;"><img src="https://imageshack.com/a/img923/1042/kjiACR.png" style="vertical-align: top;" alt=""></a>
                            </td>
                            <td>
                                <a href="https://www.youtube.com/channel/UC3wjZFPGFGmoSTDhoTZrDcA" style="display: inline-block; vertical-align: middle; margin: 0 10px;"><img src="https://imageshack.com/a/img922/4057/nbUPNN.png" style="vertical-align: top;" alt=""></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-family: 'Montserrat', Verdana, sans-serif; text-align: center; padding: 0 0 30px 0;">
                    <p style="margin: 0; font-size: 12px; font-weight: 600; color: #2f374b;">Find your perfect workspace<br> Innovate. Create.</p>
                </td>
            </tr>
        </table>

        <!--[if mso]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </div>

    <!--[if mso | IE]>
    </td>
    </tr>
    </table>
    <![endif]-->
</center>
</body>
</html>
