<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="UTF-8">
    {% endblock meta %}
    <title>{% block title %}{{ swagger_data.spec.info.title }}{% endblock title %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/nelmioapidoc/swagger-ui/swagger-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/nelmioapidoc/style.css') }}">
        <style>
            body {
                margin: 0;
            }
        </style>
    {% endblock stylesheets %}

    {% block swagger_data %}
        <script id="swagger-data" type="application/json">{{ removeSwaggerExtraData(swagger_data) |json_encode(65)|raw }}</script>
    {% endblock swagger_data %}
</head>
<body>
    {% block swagger_ui %}
        <div id="swagger-ui" class="api-platform"></div>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/nelmioapidoc/swagger-ui/swagger-ui-bundle.js') }}"></script>
        <script src="{{ asset('bundles/nelmioapidoc/swagger-ui/swagger-ui-standalone-preset.js') }}"></script>
    {% endblock javascripts %}

    {% block swagger_initialization %}
        <script src="{{ asset('bundles/nelmioapidoc/init-swagger-ui.js') }}"></script>
    {% endblock swagger_initialization %}
</body>
</html>
