{% extends "emails/base.html.twig" %}

{% block body %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="padding: 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <h1 style="font-size: 12px; font-weight: 600; text-align: center; margin: 0 0 30px 0;">Just checking up</h1>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Hello {{ seller.getFullname() }},</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">We hope that the client showed up and everything wet smoothly, if the client didn’t show
                    up or there was any problem please reply to this email.</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Thank you!</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <p style="font-size: 11px; margin: 0 0 20px 0;">If you have any questions, please don’t hesitate to get in touch. Contact us by replying to this email or giving us a call on +44 (0) 20 7283 8876</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Have a great viewing!</p>
                <p style="font-size: 11px; margin: 0;">Kikmoov Team</p>
            </td>
        </tr>
    </table>
{% endblock %}