{% extends "emails/base.html.twig" %}

{% block body %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="padding: 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <h1 style="font-size: 12px; font-weight: 600; text-align: center; margin: 0 0 30px 0;">Booking cancelled</h1>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Hello {{ buyer.getFullname() }},</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Your booking for {{ checkWorkspaceType(workspace, ' - person') }} {{ workspace.type }} at {{ location.name }}
                    on {{ booking.startTime | date('D, M j, Y, g:ia') }} has been cancelled.</p>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="260">
                    <tr>
                        <td style="padding: 0 0 20px 0; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                            <p style="font-size: 11px; font-weight: 600; color: #000; text-align: center; margin: 0 0 20px 0;" align="center">Booking details:</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ location.name }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ checkWorkspaceType(workspace, ' - person') }} {{ workspace.type }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ booking.startTime | date('D, M j, Y, g:ia') }} - {{ booking.endTime | date('g:ia') }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ location.address }}, {{ location.town }}, {{ location.postcode }}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px;">
                <!-- Button : BEGIN -->
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                    <tr>
                        <td class="button-td button-td-primary" style="border-radius: 7px; background: #f86649;">
                            <a class="button-a button-a-primary" href="{{ link }}" style="background: #f86649; border: 1px solid #f86649; font-family: 'Montserrat', Verdana, sans-serif; font-size: 12px; line-height: 12px; text-decoration: none; padding: 5px 10px; color: #ffffff; display: block; border-radius: 7px;">View workspace on kikmoov</a>
                        </td>
                    </tr>
                </table>
                <!-- Button : END -->
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <p style="font-size: 11px; margin: 0 0 20px 0;">Looking for another type of workspace?</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Browse through 1000’s of workspaces in kikmoov.com</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Have a great day!</p>
                <p style="font-size: 11px; margin: 0;">Kikmoov Team</p>
            </td>
        </tr>
    </table>
{% endblock %}