{% extends "emails/base.html.twig" %}

{% block body %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="padding: 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <h1 style="font-size: 12px; font-weight: 600; text-align: center; margin: 0 0 30px 0;">Just a quick catch up</h1>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Hello {{ buyer.getFullname() }},</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">As a gentle reminder, there are amazing workspaces saved as part of your shortlist. Go on to your profile and browse through what you have already liked.</p>
                <p style="font-size: 11px; margin: 0;">Alternatively, we have many more amazing workspaces available for you.</p>
                <p style="font-size: 11px; margin: 0;">Thank you!</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="padding: 10px; background-color: #ffffff;">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                    <tr>
                        {% for workspace in workspaces %}
                            {% set length = workspaces | length  %}
                            {% set location = workspace.location  %}
                            <td style="{% if length == 2 %}margin-left:15%{% elseif length == 1 %}margin: 0 15%{% endif %}" width="33.33%" class="mobile-w100">
                                <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                                    <tbody><tr>
                                        <td style="padding: 5px; text-align: center">
                                            <img src="{{ workspace.coverImageUrl }}" width="100%" alt="alt_text" border="0" class="fluid" style="height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-family: 'Montserrat', Verdana, sans-serif; color: #000000; padding: 0 5px 10px; text-align: left;" class="center-on-narrow">
                                            <p style="margin: 0; font-size: 10px; color: #000; text-align: left;">{{ location.name }}</p>
                                            <p style="margin: 0; font-size: 10px; color: #000; text-align: left;">{{ location.address }}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px;">
                <!-- Button : BEGIN -->
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                    <tr>
                        <td class="button-td button-td-primary" style="border-radius: 7px; background: #f86649;">
                            <a class="button-a button-a-primary" href="{{ projectUrl() }}" style="background: #f86649; border: 1px solid #f86649; font-family: 'Montserrat', Verdana, sans-serif; font-size: 12px; line-height: 12px; text-decoration: none; padding: 5px 10px; color: #ffffff; display: block; border-radius: 7px;">View your saved spaces here</a>
                        </td>
                    </tr>
                </table>
                <!-- Button : END -->
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <p style="font-size: 11px; margin: 0 0 20px 0;">If you have any questions, please don’t hesitate to get in touch. Contact us by replying to this email or giving us a call on +44 (0) 20 7283 8876</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Have a great viewing!</p>
                <p style="font-size: 11px; margin: 0;">Kikmoov Team</p>
            </td>
        </tr>
    </table>
{% endblock %}