{% extends "emails/base.html.twig" %}

{% block body %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="padding: 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <h1 style="font-size: 12px; font-weight: 600; text-align: center; margin: 0 0 30px 0;">A new workspace has been added to the kikmoov portal. Please approve the workspace for
                    it to go live to the market! The client is waiting. </h1>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="260">
                    <tr>
                        <td style="padding: 0 0 20px 0; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                            <p style="font-size: 11px; font-weight: 600; color: #000; text-align: center; margin: 0 0 20px 0;" align="center">Workspace details:</p>
                            <p style="font-size: 11px; font-weight: 600; color: #f86649; text-align: center; margin: 0 0 20px 0;" align="center">Status: Waiting Approve</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ workspace.location.name }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ workspace.location.address }}, {{ workspace.location.town }}, {{ workspace.location.postcode }}</p>
                            <p style="margin: 0; font-size: 11px; font-weight: 600; color: #000;">{{ workspace.getTypeLabel() }} | £{{ workspace.price | number_format(2, '.', ',') }} per month {{ workspace.getTypeQuantityDesks() }}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px;">
                <!-- Button : BEGIN -->
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                    <tr>
                        <td class="button-td button-td-primary" style="border-radius: 7px; background: #f86649;">
                            <a class="button-a button-a-primary" href="{{ adminLink }}" style="background: #f86649; border: 1px solid #f86649; font-family: 'Montserrat', Verdana, sans-serif; font-size: 12px; line-height: 12px; text-decoration: none; padding: 5px 10px; color: #ffffff; display: block; border-radius: 7px;">View workspace</a>
                        </td>
                    </tr>
                </table>
                <!-- Button : END -->
            </td>
        </tr>
    </table>
{% endblock %}