{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.workspace is not null %}
        <a href="{{ path('admin_app_workspace_edit', {id: object.workspace.id}) }}" target="_blank">{{ object.workspace.type }}</a>
    {% endif %}
{% endblock %}