{% extends "emails/base.html.twig" %}

{% block body %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="padding: 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <h1 style="font-size: 12px; font-weight: 600; text-align: center; margin: 0 0 30px 0;">Forgot your password</h1>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Link to rest your password</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px;">
                <!-- Button : BEGIN -->
                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                    <tr>
                        <td class="button-td button-td-primary" style="border-radius: 7px; background: #f86649;">
                            <a class="button-a button-a-primary" href="{{ link }}" style="background: #f86649; border: 1px solid #f86649; font-family: 'Montserrat', Verdana, sans-serif; font-size: 12px; line-height: 12px; text-decoration: none; padding: 5px 10px; color: #ffffff; display: block; border-radius: 7px;">Reset password</a>
                        </td>
                    </tr>
                </table>
                <!-- Button : END -->
            </td>
        </tr>
        <tr>
            <td style="padding: 0 20px 30px 20px; font-family: 'Montserrat', Verdana, sans-serif; color: #000;">
                <p style="font-size: 11px; margin: 0 0 20px 0;">Feel free to browse through 1000’s of workspaces and list your workspace on kikmoov.com</p>
                <p style="font-size: 11px; margin: 0 0 20px 0;">Thank you!</p>
                <p style="font-size: 11px; margin: 0;">Kikmoov Team</p>
            </td>
        </tr>
    </table>
{% endblock %}